Repository sirjonasxx/G-ExtensionStore, pull requests merged in 2023-08, with the labels that each got.

#142 G-Friends not stable
  store/extensions/G-Friends/extension.json
Labels: G-Python, Removed extension

#143 Room Duplicator - Unstable
  store/extensions/Room Duplicator/extension.json
Labels: Native, Removed extension

#144 autoclick
  store/extensions/autoclick/extension.json
  store/extensions/autoclick/extension.zip
  store/extensions/autoclick/icon.png
Labels: G-Node, New extension

#147 Add FriendNotifier
  store/extensions/FriendNotifier/extension.json
  store/extensions/FriendNotifier/extension.zip
  store/extensions/FriendNotifier/icon.png
  store/extensions/FriendNotifier/screenshot.png
Labels: Native, New extension

#145 Plants
  store/extensions/Plants/extension.json
  store/extensions/Plants/extension.zip
  store/extensions/Plants/icon.png
Labels: G-Node, New extension
