Repository sirjonasxx/G-ExtensionStore, pull requests merged in 2023-07, with the labels that each got.

#135 Add G-RoomTracker
  store/extensions/G-RoomTracker/extension.json
  store/extensions/G-RoomTracker/extension.zip
  store/extensions/G-RoomTracker/icon.png
Labels: G-Node, New extension

#137 feat: DCRoomInfo Extension
  store/extensions/DCRoomInfo/extension.json
  store/extensions/DCRoomInfo/extension.zip
  store/extensions/DCRoomInfo/icon.png
  store/extensions/DCRoomInfo/screenshot.png
Labels: Native, New extension

#138 feat: DCRoomInfo v1.3
  store/extensions/DCRoomInfo/extension.json
  store/extensions/DCRoomInfo/extension.zip
Labels: Native, Update

#139 feat: Market Utils v2.2
  store/extensions/Market Utils/extension.json
  store/extensions/Market Utils/extension.zip
Labels: Native, Update

#141 Added Clear Wired Selection
  store/extensions/Clear Wired Selection/extension.json
  store/extensions/Clear Wired Selection/extension.zip
  store/extensions/Clear Wired Selection/icon.png
Labels: New extension, G-Rust
